server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: users
          uri: http://localhost:8088
          predicates:
            - Path=/users/**, /accounts/**
        - id: rides
          uri: http://localhost:8089
          predicates:
            - Path=/rides/**, /fees/**
        - id: transporte
          uri: http://localhost:8081
          predicates:
            - Path=/monopatines/**, /paradas/**
        - id: mantenimiento
          uri: http://localhost:8082
          predicates:
            - Path=/mantenimiento/**

      default-filters:
        - AddResponseHeader=X-Gateway, SimpleSpringGateway
